.dark {
  filter: invert(100%);
  transition: 0.4s;
}
.light {
  transition: 0.4s;
}
.comment {
  border-left: solid black 3px;
  margin-left: 15px;
  padding-left: 15px;
}
body {
  overflow-y: scroll; /* Show vertical scrollbar */
}